.soft-skills {
  position: relative;
  padding: 20px;
  background-color: rgba(240, 242, 245, 0.7);
  border-radius: 20px;
  margin: 1% 2%;
  overflow: hidden;
}

.soft-skills-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 10;
}

.soft-skills-section {
  box-sizing: border-box;
  flex: 1 50%;
  text-align: start;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.photo img {
  width: 100%;
  border-radius: 15px;
}

.soft-skills-section:hover {
  transform: scale(1.15);
}

.soft-skills-section:nth-child(odd) {
  transform: translateX(-10px);
}

.soft-skills-section:nth-child(even) {
  transform: translateX(10px);
}

.soft-skills-section .intro {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  z-index: 100;
}

.soft-skills-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.soft-skills-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soft-skills-title .icon {
  margin: 0;
  height: 3rem;
}

.soft-skills-title h2 {
  margin: 10px 0;
  color: #333;
}

.soft-skills-section h3 {
  margin: 10px 0;
  color: #0073e6;
}

.soft-skills-activities ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: start;
  width: auto;
}

.skillset ul {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  text-align: start;
}

.soft-skills-activities li {
  padding: 0;
  margin: 0;
}

.soft-skills-activities li::before {
  content: '\1F5F9';
  color: #0073e6;
  font-size: 1.1em;
  margin-right: 2%;
  /* padding: 0; */
}

.skillset li {
  max-width: 280px;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  color: #555;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.soft-skills-activities a {
  color: #000000;
  text-decoration: none;
  
}


.progress-line {
  height: 2px;
  background-color: #0073e6;
  width: 20%;
  transition: width 0.3s ease-in-out;
  
}

.soft-skills-activities a:hover .progress-line {
  width: 70%;  
}
 
/* Projects Section */
.projects p {
  font-size: 1rem;
  color: #555;
}

  

/* Icons */
.icon {
  font-size: 2rem;
  color: #0073e6;
  margin: 10%;
}

/* Swing Animation */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.soft-skills-section:hover .icon {
  animation: swing 0.5s ease-in-out;
}

/* Responsive Design */
@media (max-width: 1140px) {
  .soft-skills-container {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .soft-skills-title-container {
    justify-content: space-around;
  }
  .soft-skills-title-container h3 {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .soft-skills-container,
  .intro,
  .soft-skills-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .soft-skills-section {
    width: 100%;
  }

  .icon {
    margin: 1%;
  }

}

@media (max-width: 350px) {
  
}

/* Background Waves */
.soft-skills-background svg {
  position: absolute;
  bottom: 0;
  left: -2%;
  width: 110%;
  z-index: -1;
  will-change: transform;
}

.soft-skills-background svg:nth-child(1) {
  bottom: 0;
}

.soft-skills-background svg:nth-child(2) {
  bottom: -20px;
}

.soft-skills-background svg:nth-child(3) {
  bottom: -40px;
}
