.about {
  position: relative;
  padding: 20px;
  background-color: rgba(240, 242, 245, 0.7);
  border-radius: 20px;
  margin: 4% 2% ;
  overflow: hidden;
}

.about-container {
  display: flex;
  justify-content: space-around; /* Align sections horizontally */
  align-items: flex-start; /* Align sections at the top */
  width: 90%; /* Limit the container's width */
  max-width: 1200px; /* Max width for larger screens */
  margin: 0 auto; /* Center the container */
  z-index: 10; /* Make sure the sections are on top of the wave */
}

.about-section {
  flex: 1;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.about-section:hover  {
  transform: scale(1.15); 
}

.wave-background svg {
  position: absolute;
  bottom: 0;
  left: -2%;
  width: 110%;
  z-index: -1; /* Ensures the wave stays behind the content */
  will-change: transform; /* Optimizes performance */
}

.wave-background svg:nth-child(1) { bottom: 0; }
.wave-background svg:nth-child(2) { bottom: -20px; }
.wave-background svg:nth-child(3) { bottom: -40px; }

.about-section:nth-child(odd) {
  transform: translateX(-10px); /* Slightly shift odd sections left */
}

.about-section:nth-child(even) {
  transform: translateX(10px); /* Slightly shift even sections right */
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.profile-pic-frame {
  width: 100%;
  height: auto;  
  overflow: hidden;  
  border-radius: 10%; 
}

.profile-pic {
  width: 100%;
  height: auto; 
  border-radius: 10%;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.about-section:hover .profile-pic {
  transform: scale(1.5); 
} 


h2 {
  margin: 10px 0;
  color: #333;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  margin: 5px 0;
  font-size: 1.1rem;
  color: #0073e6;
}

.experience p {
  font-size: 1rem;
  color: #555;
}

.languages ul {
  list-style: none;
  padding: 0;
}

.languages li {
  font-size: 1.1rem;
  margin: 5px 0;
}

.languages li::before {
  content: '🌐 '; 
  margin-right: 8px;
}

.icon {
  font-size: 2.5rem;  
  color: #0073e6;  
  margin: 10%;
}

/* Define the swing animation */
@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

/* Apply the swing animation on hover */
.about-section:hover .icon {
  animation: swing 0.5s ease-in-out;
}



@media (max-width: 1140px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-template-areas: 'intro intro intro' 'skills experience languages';
  }

  .about-section.intro {
    grid-area: intro;
  }

  .about-section.skills {
    grid-area: skills;
  }

  .about-section.experience {
    grid-area: experience;
  }

  .about-section.languages {
    grid-area: languages;
  }
}

@media (max-width: 768px) {
  .about-container {
    display: flex;
    justify-content: space-around; /* Align sections horizontally */
    flex-direction: column; /* Stack sections vertically on small screens */
    align-items: center;
  }

  .about-section {
    width: 80%; /* Allow sections to take up more space on small screens */
  }

  .icon {
    margin: 1%;
  }
}
