header {
  background-color: #282c34;
  color: white;
  /* padding: 20px; */
  text-align: center;
  position: relative;
}



.h1-container {
  position: relative;
  width: 100%;
  height: 12vw;
  overflow: hidden;
  cursor: target;
}

/* Styling for the moving word */
.moving-word {
  position: absolute;
  font-size: 1.5rem;
  /* top: 50%;  */
  /* transform: translateY(-50%); */
  transition: opacity 0.3s ease;
}
/* Hide the word with a fade effect */
.moving-word.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent further hover events */
}

/* Centered name style */
.center-name {
  position: absolute;
  font-size: 15vw;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  animation: fadeIn 12s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Adjust font size on smaller screens */
@media (max-width: 600px) {
  .center-name {
    font-size: 8vw;
  }
}
