.about-section.languages ul {
  list-style: none;
  padding: 0;
  min-width: 188px;
}

.about-section.languages li {
  display: flex;
  /* align-items: start; */
  white-space: nowrap;
  /* justify-content: space-between; */
  margin-bottom: 10px;
}



.toggle-switch {
  position: relative;
  /* display: inline-block; */
  width: 34px;
  height: 20px;
  margin-right: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  border: rgba(21, 19, 19, 0.4) solid 1px;

  /* margin-right: 15px; */
  width: 36px;
  height: 22px;
}

.slider:before {
  position: absolute;
  content: '🌐';
  left: 0px;
  bottom: 0px;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}


