.about-section.languages ul {
  list-style: none;
  padding: 0;
}

.about-section.languages li {
  display: flex;
  align-items: start;
  /* justify-content: space-between; */
}
 

.toggle-switch {
  position: relative;
  /* display: inline-block; */
  width: 34px;
  height: 20px;
  margin-right: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  width: 34px;
  height: 20px;
}

.slider:before {
  position: absolute;
  content: '🌐';
  /* height: 14px;
  width: 14px; */
  left: 0px;
  bottom: 0px;
  /* background-color: white; */
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
